﻿@model Pizzeria.Models.Pizze

@{
    ViewBag.Title = "Aggiungi Pizza";
}

@using (Html.BeginForm("Create", "Pizze", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <h2 class="text-center">Aggiungi una nuova pizza</h2>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Prezzo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Tempo_Consegna, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tempo_Consegna, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tempo_Consegna, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Ingredienti, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ingredienti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ingredienti, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.Label("Aggiungi Immagine", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("file", "", new { type = "file", @class = "form-control" })
            <small class="text-muted">Formati supportati: JPG, PNG, GIF. Dimensione massima: 5MB.</small>
        </div>
    </div>

    <div class="form-group mt-3 mb-4">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aggiungi" class="btn btn-primary" />
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}